# Main

In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [3]:
ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")

In [4]:
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

In [5]:
cv = CountVectorizer(max_features=1000, stop_words="english")

In [6]:
vectors = cv.fit_transform(ds["tags"]).toarray()

In [7]:
similarity = cosine_similarity(vectors)

In [8]:
c=0
suggg = []
sug_d={"name":[]}

for i in similarity:
    a = sorted(list(enumerate(similarity[c])), reverse=True, key=lambda x: x[1])
    c2=0
    temp = []
    temp_c = {"name": f"{ds.iloc[a[0][0]].title}"}

    for j in range(1, 25):
        temp_c["name"] += f",{ds.iloc[a[j][0]].title}"

    suggg.append(temp)
    sug_d["name"].append(temp_c["name"])
    c+=1

KeyboardInterrupt:

In [ ]:
d_ds = pd.DataFrame(sug_d)
d_ds.to_csv("./perfect_datasets/perfect_datasets_v4.csv", index=False)

### K-means

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans

In [7]:

ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

cv = CountVectorizer(max_features=5000, stop_words="english")

vectors = cv.fit_transform(ds["tags"]).toarray()

similarity = cosine_similarity(vectors)

num_clusters = (similarity.shape[0]*10)//100
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
cluster_labels = kmeans.fit_predict(similarity)

ds["cluster_label"] = cluster_labels

c:\Users\mihir\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [8]:
ds.to_csv("./perfect_datasets/perfect_datasets_v4_with_clusters.csv", index=False)

In [26]:
ds[ds["title"].str.lower().str.startswith("avatar")]

,movie_id,title,tags,cluster_label
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...",70

In [ ]:
ds["cluster_label"].value_counts()

78     36
46     33
409    32
211    29
226    29
       ..
371     2
49      2
38      2
344     1
259     1
Name: cluster_label, Length: 450, dtype: int64

In [27]:
ds[ds["cluster_label"]==70]

,movie_id,title,tags,cluster_label
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa...",70
213,1979,Fantastic 4: Rise of the Silver Surfer,the fantast four return to the big screen as a...,70
225,37834,Knight and Day,a fugit coupl goe on a glamor and sometim dead...,70
240,1593,Night at the Museum,chao reign at the natur histori museum when ni...,70
468,4442,The Brothers Grimm,"folklor collector and con artists, jake and wi...",70
790,116741,The Internship,two recent laid-off men in their 40 tri to mak...,70
1378,11469,Black Knight,"martin lawrenc play jamal, an employ in mediev...",70
2072,9760,Epic Movie,"when edward, peter, luci and susan each follow...",70
3824,7512,Idiocracy,"to test it top-secret human hibern project, th...",70

In [ ]:
ds[ds["title"].str.startswith("Cleopatra")]

,movie_id,title,tags,cluster_label
1112,8095,Cleopatra,histor epic. the triumph and tragedi of the eg...,231