# Main

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")

In [ ]:
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

In [ ]:
cv = CountVectorizer(max_features=1000, stop_words="english")

In [ ]:
vectors = cv.fit_transform(ds["tags"]).toarray()

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
c=0
suggg = []
sug_d={"name":[]}

for i in similarity:
    a = sorted(list(enumerate(similarity[c])), reverse=True, key=lambda x: x[1])
    c2=0
    temp = []
    temp_c = {"name": f"{ds.iloc[a[0][0]].title}"}

    for j in range(1, 25):
        temp_c["name"] += f",{ds.iloc[a[j][0]].title}"

    suggg.append(temp)
    sug_d["name"].append(temp_c["name"])
    c+=1

In [ ]:
d_ds = pd.DataFrame(sug_d)
d_ds.to_csv("./perfect_datasets/perfect_datasets_v4.csv", index=False)

### K-means

In [4]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans

ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

cv = CountVectorizer(max_features=5000, stop_words="english")

vectors = cv.fit_transform(ds["tags"]).toarray()

similarity = cosine_similarity(vectors)

num_clusters = (similarity.shape[0]*10)//100
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
cluster_labels = kmeans.fit_predict(similarity)

ds["cluster_label"] = cluster_labels

c:\Users\mihir\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [ ]:
ds.to_csv("./perfect_datasets/perfect_datasets_v4_with_clusters.csv", index=False)

In [22]:
ds[ds["title"].str.startswith("The Dark Knight")]

,movie_id,title,tags,cluster_label
64,155,The Dark Knight,batman rai the stake in hi war on crime. with ...,250

In [6]:
ds["cluster_label"].value_counts()

78     36
46     33
409    32
211    29
226    29
       ..
371     2
49      2
38      2
344     1
259     1
Name: cluster_label, Length: 450, dtype: int64

In [23]:
ds[ds["cluster_label"]==250]

,movie_id,title,tags,cluster_label
64,155,The Dark Knight,batman rai the stake in hi war on crime. with ...,250
296,414,Batman Forever,the dark knight of gotham citi confront a dast...,250
394,298,Ocean's Thirteen,danni ocean' team of crimin are back and compo...,250
424,364,Batman Returns,"have defeat the joker, batman now face the pen...",250
1178,50348,The Lincoln Lawyer,a lawyer conduct busi from the back of hi linc...,250
1705,254473,Brick Mansions,"in a dystopian detroit, grand hou that onc hou...",250
2101,8848,The Bank Job,terri is a small-tim car dealer tri to leav hi...,250
2509,97367,The Place Beyond the Pines,a motorcycl stunt rider consid commit a crime ...,250
3185,312113,Black November,"a volatile, oil-rich nigerian commun wage war ...",250

In [19]:
ds[ds["title"].str.startswith("Cleopatra")]

,movie_id,title,tags,cluster_label
1112,8095,Cleopatra,histor epic. the triumph and tragedi of the eg...,231