# Main

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")

In [3]:
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

In [4]:
cv = CountVectorizer(max_features=1000, stop_words="english")

In [5]:
vectors = cv.fit_transform(ds["tags"]).toarray()

In [16]:
similarity = cosine_similarity(vectors)

In [7]:
c=0
suggg = []
sug_d={"name":[]}

for i in similarity:
    a = sorted(list(enumerate(similarity[c])), reverse=True, key=lambda x: x[1])
    c2=0
    temp = []
    temp_c = {"name": f"{ds.iloc[a[0][0]].title}"}

    for j in range(1, 25):
        temp_c["name"] += f",{ds.iloc[a[j][0]].title}"

    suggg.append(temp)
    sug_d["name"].append(temp_c["name"])
    c+=1

In [ ]:
d_ds = pd.DataFrame(sug_d)
d_ds.to_csv("./perfect_datasets/perfect_datasets_v4.csv", index=False)

### K-means

In [76]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cluster import KMeans

ds = pd.read_csv("./perfect_datasets/perfect_dataset_v3.csv")
ds_overview = pd.read_csv("./perfect_datasets/perfect_dataset_v1.csv")

cv = CountVectorizer(max_features=5000, stop_words="english")

vectors = cv.fit_transform(ds["tags"]).toarray()

similarity = cosine_similarity(vectors)

num_clusters = similarity.shape[0] // 25
kmeans = KMeans(n_clusters=num_clusters, random_state=0)
cluster_labels = kmeans.fit_predict(similarity)

ds["cluster_label"] = cluster_labels

ds.to_csv("./perfect_datasets/perfect_datasets_v4_with_clusters.csv", index=False)

c:\Users\mihir\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [78]:
ds[ds["title"].str.startswith("The Lord of the Rings")]

,movie_id,title,tags,cluster_label
259,120,The Lord of the Rings: The Fellowship of the Ring,"young hobbit frodo baggins, after inherit a my...",70
325,122,The Lord of the Rings: The Return of the King,aragorn is reveal as the heir to the ancient k...,141
326,121,The Lord of the Rings: The Two Towers,frodo and sam are trek to mordor to destroy th...,141

In [57]:
ds["cluster_label"].value_counts()

78     36
46     33
409    32
211    29
226    29
       ..
371     2
49      2
38      2
344     1
259     1
Name: cluster_label, Length: 450, dtype: int64

In [79]:
ds[ds["cluster_label"]==70]

,movie_id,title,tags,cluster_label
7,767,Harry Potter and the Half-Blood Prince,"as harri begin hi sixth year at hogwarts, he d...",70
96,49051,The Hobbit: An Unexpected Journey,"bilbo baggins, a hobbit enjoy hi quiet life, i...",70
111,675,Harry Potter and the Order of the Phoenix,"return for hi fifth year of studi at hogwarts,...",70
112,674,Harry Potter and the Goblet of Fire,"harri start hi fourth year at hogwarts, compet...",70
259,120,The Lord of the Rings: The Fellowship of the Ring,"young hobbit frodo baggins, after inherit a my...",70
273,672,Harry Potter and the Chamber of Secrets,"ignor threat to hi life, harri return to hogwa...",70
375,9387,Conan the Barbarian,a film adapt of the classic sword and sorceri ...,70
1724,34584,The NeverEnding Story,"while hide from bulli in hi school' attic, a y...",70
3146,26963,The Secret of Kells,adventur await 12 year old brendan who must fi...,70